# Supabase Configuration
VITE_SUPABASE_URL=https://wsauzrgxuihxtowdivhg.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndzYXV6cmd4dWloeHRvd2RpdmhnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE4OTk3MTQsImV4cCI6MjA4NzQ3NTcxNH0.PaUE7sUL4OnlL4zGCrzpPcPBQdbkoI4vk6gKRYBa0MI
